Repository AY1920S2-CS2103T-F10-1/main, pull requests merged in 2020-03, with the labels that each got.

#75 Create Person class
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/ReadOnlyResumeBook.java
  src/main/java/seedu/address/model/ResumeBook.java
  src/main/java/seedu/address/model/item/Person.java
  src/test/java/seedu/address/model/ResumeBookTest.java
Labels: Model, priority.High, type.Task

#77 Create command stubs
  src/main/java/seedu/address/logic/commands/AddInternshipCommand.java
  src/main/java/seedu/address/logic/commands/add/AddCommand.java
  src/main/java/seedu/address/logic/commands/add/AddInternshipCommand.java
  src/main/java/seedu/address/logic/commands/add/AddProjectCommand.java
  src/main/java/seedu/address/logic/commands/add/AddResumeCommand.java
  src/main/java/seedu/address/logic/commands/add/AddSkillCommand.java
  src/main/java/seedu/address/logic/commands/delete/DeleteCommand.java
  src/main/java/seedu/address/logic/commands/delete/DeleteInternshipCommand.java
  src/main/java/seedu/address/logic/commands/delete/DeleteProjectCommand.java
  src/main/java/seedu/address/logic/commands/delete/DeleteResumeCommand.java
  src/main/java/seedu/address/logic/commands/delete/DeleteSkillCommand.java
  src/main/java/seedu/address/logic/commands/edit/EditCommand.java
  src/main/java/seedu/address/logic/commands/edit/EditInternshipCommand.java
  src/main/java/seedu/address/logic/commands/edit/EditProjectCommand.java
  src/main/java/seedu/address/logic/commands/edit/EditResumeCommand.java
  src/main/java/seedu/address/logic/commands/edit/EditSkillCommand.java
  src/main/java/seedu/address/logic/commands/find/FindCommand.java
  src/main/java/seedu/address/logic/commands/find/FindInternshipCommand.java
  src/main/java/seedu/address/logic/commands/find/FindProjectCommand.java
  src/main/java/seedu/address/logic/commands/find/FindResumeCommand.java
  src/main/java/seedu/address/logic/commands/find/FindSkillCommand.java
  src/main/java/seedu/address/logic/commands/list/ListCommand.java
  src/main/java/seedu/address/logic/commands/list/ListInternshipCommand.java
  src/main/java/seedu/address/logic/commands/list/ListProjectCommand.java
  src/main/java/seedu/address/logic/commands/list/ListResumeCommand.java
  src/main/java/seedu/address/logic/commands/list/ListSkillCommand.java
  src/main/java/seedu/address/logic/commands/stubs/AddInternshipCommandStub.java
  src/main/java/seedu/address/logic/commands/stubs/AddResumeCommandStub.java
  src/main/java/seedu/address/logic/commands/stubs/ListInternshipCommandStub.java
  src/main/java/seedu/address/logic/commands/stubs/ListResumeCommandStub.java
  src/main/java/seedu/address/logic/parser/AddCommandParser.java
  src/main/java/seedu/address/logic/parser/AddressBookParser.java
  src/main/java/seedu/address/logic/parser/DeleteCommandParser.java
  src/main/java/seedu/address/logic/parser/EditCommandParser.java
  src/main/java/seedu/address/logic/parser/FindCommandParser.java
  src/main/java/seedu/address/logic/parser/ListCommandParser.java
  src/test/java/seedu/address/logic/LogicManagerTest.java
  src/test/java/seedu/address/logic/commands/DeleteCommandTest.java
  src/test/java/seedu/address/logic/commands/EditCommandTest.java
  src/test/java/seedu/address/logic/commands/EditItemDescriptorTest.java
  src/test/java/seedu/address/logic/parser/AddCommandParserTest.java
  src/test/java/seedu/address/logic/parser/AddressBookParserTest.java
  src/test/java/seedu/address/logic/parser/DeleteCommandParserTest.java
  src/test/java/seedu/address/logic/parser/EditCommandParserTest.java
  src/test/java/seedu/address/logic/parser/FindCommandParserTest.java
  src/test/java/seedu/address/testutil/EditPersonDescriptorBuilder.java
  src/test/java/seedu/address/testutil/PersonUtil.java
Labels: Command, severity.High, status.Ongoing

#133 Refactor Commands
  src/main/java/seedu/address/logic/commands/ClearCommand.java
  src/main/java/seedu/address/logic/commands/ExitCommand.java
  src/main/java/seedu/address/logic/commands/add/AddCommand.java
  src/main/java/seedu/address/logic/commands/add/AddInternshipCommand.java
  src/main/java/seedu/address/logic/commands/add/AddProjectCommand.java
  src/main/java/seedu/address/logic/commands/add/AddResumeCommand.java
  src/main/java/seedu/address/logic/commands/add/AddSkillCommand.java
  src/main/java/seedu/address/logic/commands/delete/DeleteCommand.java
  src/main/java/seedu/address/logic/commands/delete/DeleteInternshipCommand.java
  src/main/java/seedu/address/logic/commands/edit/EditCommand.java
  src/main/java/seedu/address/logic/commands/edit/EditInternshipCommand.java
  src/main/java/seedu/address/logic/commands/edit/EditProjectCommand.java
  src/main/java/seedu/address/logic/commands/edit/EditResumeCommand.java
  src/main/java/seedu/address/logic/commands/edit/EditSkillCommand.java
  src/main/java/seedu/address/logic/commands/find/FindSkillCommand.java
  src/main/java/seedu/address/logic/commands/list/ListCommand.java
  src/main/java/seedu/address/logic/commands/view/ViewCommand.java
  src/test/java/seedu/address/logic/commands/add/AddInternshipCommandTest.java
  src/test/java/seedu/address/logic/commands/add/AddProjectCommandTest.java
  src/test/java/seedu/address/logic/commands/add/AddResumeCommandTest.java
  src/test/java/seedu/address/logic/commands/add/AddSkillCommandTest.java
Labels: Command, severity.VeryLow, type.Bug

#145 Add rpreview functionality
  src/main/java/seedu/address/logic/commands/CommandResult.java
  src/main/java/seedu/address/logic/commands/EditUserCommand.java
  src/main/java/seedu/address/logic/commands/ExitCommand.java
  src/main/java/seedu/address/logic/commands/HelpCommand.java
  src/main/java/seedu/address/logic/commands/ResumePreviewCommand.java
  src/main/java/seedu/address/logic/parser/ResumeBookParser.java
  src/main/java/seedu/address/logic/parser/ResumePreviewCommandParser.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/ReadOnlyResumeBook.java
  src/main/java/seedu/address/model/ResumeBook.java
  src/main/java/seedu/address/model/item/Internship.java
  src/main/java/seedu/address/model/item/Person.java
  src/main/java/seedu/address/model/item/Project.java
  src/main/java/seedu/address/model/item/Skill.java
  src/main/java/seedu/address/model/item/UniqueItemList.java
  src/main/java/seedu/address/ui/MainWindow.java
  src/main/java/seedu/address/ui/PreviewWindow.java
  src/main/resources/view/PreviewWindow.fxml
  src/test/java/seedu/address/logic/commands/add/AddCommandTest.java
  src/test/java/seedu/address/model/ResumeBookTest.java
Labels: Command, Model, Parser, priority.High, type.story

#146 Fixed some bugs
  src/main/java/seedu/address/logic/commands/edit/EditInternshipCommand.java
  src/main/java/seedu/address/logic/commands/edit/EditProjectCommand.java
  src/main/java/seedu/address/logic/commands/edit/EditResumeCommand.java
  src/main/java/seedu/address/logic/commands/edit/EditSkillCommand.java
  src/main/java/seedu/address/logic/parser/EditCommandParser.java
  src/main/java/seedu/address/model/ResumeBook.java
Labels: Command, Model, Parser, type.Bug

#147 Add projects and skills for redit
  src/main/java/seedu/address/commons/core/Messages.java
  src/main/java/seedu/address/logic/commands/ResumeEditCommand.java
  src/main/java/seedu/address/logic/commands/ResumePreviewCommand.java
  src/main/java/seedu/address/logic/parser/ParserUtil.java
  src/main/java/seedu/address/logic/parser/ResumeEditCommandParser.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/ResumeBook.java
  src/main/java/seedu/address/model/item/Resume.java
  src/main/java/seedu/address/storage/JsonAdaptedResume.java
  src/test/java/seedu/address/logic/commands/add/AddCommandTest.java
Labels: priority.High

#148 Making UI more defensive
  src/main/resources/view/DarkTheme.css
  src/main/resources/view/ItemCard.fxml
  src/main/resources/view/MainWindow.fxml
  src/main/resources/view/ResultDisplay.fxml
  src/main/resources/view/UserDetailPane.fxml
  src/main/resources/view/UserOverallPane.fxml
  src/main/resources/view/UserProfilePane.fxml
Labels: UI, priority.Low
