Repository AY1920S2-CS2103T-F10-1/main, pull requests merged in 2020-04, with the labels that each got.

#142 Implement base code for rgen
  build.gradle
  export/Resume 1.pdf
  src/main/java/seedu/address/logic/commands/CommandResult.java
  src/main/java/seedu/address/logic/commands/EditUserCommand.java
  src/main/java/seedu/address/logic/commands/ExitCommand.java
  src/main/java/seedu/address/logic/commands/GenerateResumeCommand.java
  src/main/java/seedu/address/logic/commands/HelpCommand.java
  src/main/java/seedu/address/logic/commands/ResumeEditCommand.java
  src/main/java/seedu/address/logic/commands/ResumePreviewCommand.java
  src/main/java/seedu/address/logic/commands/delete/DeleteInternshipCommand.java
  src/main/java/seedu/address/logic/commands/delete/DeleteProjectCommand.java
  src/main/java/seedu/address/logic/commands/delete/DeleteResumeCommand.java
  src/main/java/seedu/address/logic/commands/delete/DeleteSkillCommand.java
  src/main/java/seedu/address/logic/commands/edit/EditInternshipCommand.java
  src/main/java/seedu/address/logic/commands/edit/EditProjectCommand.java
  src/main/java/seedu/address/logic/commands/edit/EditResumeCommand.java
  src/main/java/seedu/address/logic/commands/edit/EditSkillCommand.java
  src/main/java/seedu/address/logic/commands/view/ViewInternshipCommand.java
  src/main/java/seedu/address/logic/commands/view/ViewProjectCommand.java
  src/main/java/seedu/address/logic/commands/view/ViewResumeCommand.java
  src/main/java/seedu/address/logic/commands/view/ViewSkillCommand.java
  src/main/java/seedu/address/logic/parser/GenerateResumeParser.java
  src/main/java/seedu/address/logic/parser/ResumeBookParser.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/ReadOnlyResumeBook.java
  src/main/java/seedu/address/model/ResumeBook.java
  src/main/java/seedu/address/model/item/field/Time.java
  src/main/java/seedu/address/storage/JsonSerializableResumeBook.java
  src/main/java/seedu/address/ui/MainWindow.java
  src/test/java/seedu/address/logic/commands/add/AddCommandTest.java
  src/test/java/seedu/address/model/ResumeBookTest.java
Labels: Command, Parser, priority.High, status.Ongoing, type.epic

#152 Fix edit resume
  src/main/java/seedu/address/logic/commands/edit/EditResumeCommand.java
Labels: type.Bug

#157 Add personal details and education to rgen
  export/Resume 1.pdf
  src/main/java/seedu/address/logic/commands/GenerateResumeCommand.java
Labels: priority.High, type.epic

#183 Add unit test for DeleteCommand
  src/main/java/seedu/address/logic/commands/delete/DeleteCommand.java
  src/test/java/seedu/address/commons/core/index/IndexTest.java
  src/test/java/seedu/address/logic/commands/delete/DeleteInternshipCommandTest.java
  src/test/java/seedu/address/logic/commands/delete/DeleteProjectCommandTest.java
  src/test/java/seedu/address/logic/commands/delete/DeleteResumeCommandTest.java
  src/test/java/seedu/address/logic/commands/delete/DeleteSkillCommandTest.java
Labels: Command

#180 Improve list with UI feedback
  src/main/java/seedu/address/logic/commands/ClearCommand.java
  src/main/java/seedu/address/logic/commands/CommandResult.java
  src/main/java/seedu/address/logic/commands/ExitCommand.java
  src/main/java/seedu/address/logic/commands/GenerateResumeCommand.java
  src/main/java/seedu/address/logic/commands/HelpCommand.java
  src/main/java/seedu/address/logic/commands/RedoCommand.java
  src/main/java/seedu/address/logic/commands/ResumeEditCommand.java
  src/main/java/seedu/address/logic/commands/ResumePreviewCommand.java
  src/main/java/seedu/address/logic/commands/UndoCommand.java
  src/main/java/seedu/address/logic/commands/add/AddInternshipCommand.java
  src/main/java/seedu/address/logic/commands/add/AddProjectCommand.java
  src/main/java/seedu/address/logic/commands/add/AddResumeCommand.java
  src/main/java/seedu/address/logic/commands/add/AddSkillCommand.java
  src/main/java/seedu/address/logic/commands/delete/DeleteInternshipCommand.java
  src/main/java/seedu/address/logic/commands/delete/DeleteProjectCommand.java
  src/main/java/seedu/address/logic/commands/delete/DeleteResumeCommand.java
  src/main/java/seedu/address/logic/commands/delete/DeleteSkillCommand.java
  src/main/java/seedu/address/logic/commands/edit/EditInternshipCommand.java
  src/main/java/seedu/address/logic/commands/edit/EditProjectCommand.java
  src/main/java/seedu/address/logic/commands/edit/EditResumeCommand.java
  src/main/java/seedu/address/logic/commands/edit/EditSkillCommand.java
  src/main/java/seedu/address/logic/commands/find/FindInternshipCommand.java
  src/main/java/seedu/address/logic/commands/find/FindProjectCommand.java
  src/main/java/seedu/address/logic/commands/find/FindResumeCommand.java
  src/main/java/seedu/address/logic/commands/find/FindSkillCommand.java
  src/main/java/seedu/address/logic/commands/list/ListInternshipCommand.java
  src/main/java/seedu/address/logic/commands/list/ListProjectCommand.java
  src/main/java/seedu/address/logic/commands/list/ListResumeCommand.java
  src/main/java/seedu/address/logic/commands/list/ListSkillCommand.java
  src/main/java/seedu/address/logic/commands/me/EditUserCommand.java
  src/main/java/seedu/address/logic/commands/view/ViewInternshipCommand.java
  src/main/java/seedu/address/logic/commands/view/ViewProjectCommand.java
  src/main/java/seedu/address/logic/commands/view/ViewResumeCommand.java
  src/main/java/seedu/address/logic/commands/view/ViewSkillCommand.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/ui/ItemListPanel.java
  src/main/java/seedu/address/ui/MainWindow.java
  src/main/resources/view/DarkTheme.css
  src/main/resources/view/ItemListPanel.fxml
  src/main/resources/view/MainWindow.fxml
  src/test/java/seedu/address/logic/commands/CommandTestUtil.java
  src/test/java/seedu/address/testutil/ModelStub.java
Labels: UI, priority.High

#235 Update rgen: fix formatting error
  src/main/java/seedu/address/logic/commands/generate/PdfBuilder.java
Labels: Command, severity.VeryLow, type.Enhancement

#239 Enhance rgen: open pdf file after generated
  src/main/java/seedu/address/logic/commands/generate/GenerateResumeCommand.java
Labels: Command, priority.Medium, type.Enhancement

#240 Enhanced rgen: if empty sections, rgen won't print that section out
  src/main/java/seedu/address/logic/commands/generate/GenerateResumeCommand.java
Labels: Command, priority.Medium, type.Enhancement

#251 Enhance help with help command and help start
  src/main/java/seedu/address/commons/core/Messages.java
  src/main/java/seedu/address/logic/commands/help/HelpCommand.java
  src/main/java/seedu/address/logic/commands/help/HelpStartCommand.java
  src/main/java/seedu/address/logic/commands/help/HelpSummaryCommand.java
  src/main/java/seedu/address/logic/commands/results/HelpCommandResult.java
  src/main/java/seedu/address/logic/parser/HelpCommandParser.java
  src/main/java/seedu/address/logic/parser/ResumeBookParser.java
  src/main/java/seedu/address/ui/HelpWindow.java
  src/main/java/seedu/address/ui/MainWindow.java
  src/main/resources/view/DarkTheme.css
  src/main/resources/view/HelpWindow.fxml
  src/main/resources/view/PreviewWindow.fxml
  src/test/java/seedu/address/logic/commands/HelpCommandTest.java
  src/test/java/seedu/address/logic/parser/ResumeBookParserTest.java
Labels: Command, priority.Medium, type.Enhancement
